
// Цвета
$white: #FFFFFF;
$black: #1B1C21;
$gray-light: #F8F8F8;
$gray: #EAEAEA;
$gray-text: #7E7E82;
$pink: #FF3E79; 
$accent: #41F6D7;
$placeholder-color: #B5B6BC;
$color-sky: #D9FFF5;

// Шрифты
$font-main: "TT LakesR";
$font-medium: "TT LakesM";
$font-bold: "TT LakesB";


// Тени
$shadow-menu: 15px 0 15px rgba(0, 0, 0, 0.2);
$shadow-feedback: -15px 0 15px rgba(0, 0, 0, 0.2);


// Z-index
$z-index-normal: 1;
$z-index-effect: 2;
$z-index-overlay: 3;
$z-index-menu: 4;
$z-index-blur: 5;
$z-index-feedback: 6;
