@use "../base/variables" as *;

.responsive-table-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;


    @media (min-width: 768px) {
        width: 100%;
        max-width: none;
        height: auto;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 767px) {
	    display:none;
    }
}

    