@use "../base/variables" as *;

.responsive-table {
        display: table;
        border-collapse: collapse;
        border-radius: 8px;
        width: 100%;
	    padding-left: 24px;
	    padding-right: 24px;


            &__h{
	            font-size: 14px;
	            font-weight: 500;
	            font-family: $font-medium;	
	            color: $gray-text;
	            text-align: start;
              background-color: $gray;
	            padding:16px;
            }
	 
     }

        .responsive-table td {
            display: table-cell;
             flex: none;
            text-align: start;
            font-size: 14px;
            padding: 24px;
            border-top: 1px solid #EAEAEA;
            background-color: $white;
	        color:$black;
        }

        .responsive-table td strong {
            color: $gray-text;
          }
  