@use "../base/variables" as *;


.swiper {
 	width: auto;
 	height: auto;
	overflow: hidden;
	
	
}
.swiper-pagination-bullet{
	background-color: $placeholder-color;
	width: 12px;
	height: 12px;
}

 .swiper-pagination {
	position: static;
	height: 16px;
    margin: 0 auto;

  }
  @media (min-width: 768px) {
.swiper-pagination {
	display: none;}
  }
.swiper-slide
{
	width: max-content !important;
	height: 100%;
	padding-right: 16px;
}
@media (min-width: 768px) {
.swiper-slide
 {
	padding:0;}
  }